<body class=background>
  <div class=question-page>

    <div class=question>
      <%= button_to "Dashboard", '/dashboard', method: :get %>
      <%= button_to "Log Out", '/logout', method: :delete %>
    </div>


    <div class=question>
      <%= form_with url: "/question", method: :post, local: true, data: {turbo: false} do |form|%>
        <%= form.text_field :question, placeholder: "Question", class: "input" %>
        <%= form.button "Ask the Crawfather" %>
      <% end %>

      <% if @response %>
        <p class=response ><%= @response %></p>
      <% end %>
    </div>
  </div>
</body>